
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-bottom: 40px;
}


header {
  background-color: #cac97eff;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

header .logo-ou-titre {

  font-weight: bold;
}

header .login {

  display: flex;
  align-items: center;
  gap: 15px;
}

header .left {
  display: flex;
  align-items: center;
}

button.deco {
  background-color: white;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  font-family: inherit;
}

button.deco:hover {
  background-color: #000;
  color: white;
}


h1 {
  text-align: center;
  margin: 40px 0;
}


table {
  width: 85%;
  margin: 20px auto;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
  border-bottom: 2px solid #000;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}


.btn-ajouter {
  display: inline-block;
  margin: 20px 0 20px 7.5%;
  padding: 8px 20px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  font-family: inherit;
}

.btn-ajouter:hover {
  background: #cac97eff;
}
.card-item, #final-result {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 30px;
  max-width: 500px;
  margin: 20px auto;
  transition: transform 0.2s;
  cursor: pointer;
}
.card-item:hover {
  background-color: #cecece;
}
.card-item .card-front{
  text-align: center;
}
.card-item .card-front h3{
  font-size: 2rem;
}
.card-item button{
  display: inline-block;
  margin: 20px 0 20px 7.5%;
  padding: 8px 20px;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  font-family: inherit;
}
.card-item button:hover{
  background: #cac97eff;
}
form {
  width: 85%;
  margin: 20px auto;
  padding: 10px 0;
}
