<!DOCTYPE html>
<html>
  <head>
    <title>
      Créer un Deck
    </title>
    @vite(['resources/css/app.css'])
  </head>
  <body>
    @include('partials/header')
    <main>
      <h1>
        Créer un nouveau deck
      </h1>

      <form action="{{ route('deck.store') }}" method="POST">
        {{ csrfField() }}
        <div>
          <label for="title">Titre du deck :</label>
          <input type="text" id="title" name="title" required placeholder="ex: Vocabulaire Anglais" />

          @inputError('title')
            <p style="color: red; font-size: 0.8em;">{{ $messages.join(', ') }}</p>
          @end
        </div>

        <div>
          <label for="description">Description :</label>
          <textarea id="description" name="description" placeholder="De quoi parle ce deck ?"></textarea>
          @inputError('description')
            <p style="color: red; font-size: 0.8em;">{{ $messages.join(', ') }}</p>
          @end
        </div>
        <div>
          <label for="categoryId">Catégorie :</label>
          <select name="categoryId" id="categoryId" required>
            @each(category in categories)
              <option value="{{ category.id }}">
                {{ category.name }}
              </option>
            @end
          </select>
        </div>
        <button type="submit" class="btn-ajouter">Créer le deck</button>
      </form>

      <br />
      <a href="{{ route('deck') }}">Annuler et retourner à l'accueil</a>
    </main>
  </body>
</html>
