<!DOCTYPE html>
<html>
  <head>
    <title>
      Accueil
    </title>
    <link rel="stylesheet" href="resources\css\app.css" />
  </head>
  <body>
    @include('partials/header')
    <main>
      <h1>
        Mes decks
      </h1>

      <table>
        <thead>
          <tr>
            <th>
              Titre
            </th>
            <th>
              Description
            </th>
            <th>
              Cartes
            </th>
          </tr>
        </thead>
        <tbody>
          @each(deck in decks)
            <tr>
              <td>
                <a href="{{ route('deck.edit', { id: deck.id }) }}" class="link-edit">
                  {{ deck.title }}
                </a>
              </td>
              <td>
                {{ deck.description }}
              </td>
              <td>
                {{ deck.$extras.flashcards_count }}
              </td>
            </tr>
          @end
        </tbody>
      </table>

      <button class="btn-ajouter">Ajouter</button>
    </main>

  </body>
</html>

<style>
  
</style>