<!DOCTYPE html>
<html>
  <head>
    <title>
      Accueil
    </title>
    @vite(['resources/css/app.css'])
  </head>
  <body>
    @include('partials/header')
    <main>
      <h1>
        Mes decks
      </h1>

      <table>
        <thead>
          <tr>
            <th>
              Titre (Étudier)
            </th>
            <th>
              Description
            </th>
            <th>
              Nombre de Cartes
            </th>
            <th>
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          @each(deck in decks)
            <tr>
              <td>
                <a href="{{ route('deck.study', { id: deck.id }) }}" class="link-study">
                  <strong>{{ deck.title }}</strong>
                </a>
              </td>
              <td>
                {{ deck.description }}
              </td>
              <td>
                {{ deck.$extras.flashcards_count }}
              </td>
              <td>
                <a href="{{ route('deck.edit', { id: deck.id }) }}" class="link-edit">
                  Modifier
                </a>
              </td>
            </tr>
          @end
        </tbody>
      </table>

      <button type="button" class="btn-ajouter" onclick="window.location.href='{{ route('deck.create') }}'">
        Ajouter un nouveau deck
      </button>
    </main>
  </body>
</html>
